body{ margin: 0;
    font-family: 'Orbitron', sans-serif;
    font-style: bold;
    text-align: center;
    color: #CFDEE7;
    text-shadow: 0px 0px 5px black;
    
}

#hero{
background-image: url("https://media.giphy.com/media/3og0IyRiAsl1Pczi6Y/giphy-downsized-large.gif");
    background-size: cover;
    
}
#mainlogo{ width:80px; 
          padding-top: 30px;
          

}
.btn{padding:5px 10px 5px 10px;
     font-family: inherit;
     border: none; 
     background-color: white;
     font-weight: 800;
     margin-bottom: 15px;
}
.jtm{background: white;
font-size: 20px

}
.exp{text-decoration-line: underline}

